# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.FlowerStoreApp.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\C#\FlowerStoreApp\.idea\.idea.FlowerStoreApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
